<html>

<head>
	<title>Golang Interface</title>
	<link rel="stylesheet" href="/assets/bootstrap.min.css">
	<script src="/assets/jquery-3.4.1.slim.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/hashes.min.js"></script>
	<script>
		var SHA256 = new Hashes.SHA256
		function rand3() {
			var guess = '';
			for (let i = 0; i < 3; i++) {
				guess += chars.charAt(Math.floor(Math.random() * chars.length))
			}
			return guess
		}
		prefix = 'RCTF2020_golang_interface_'
		chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
		$(document).ready(function(){
			$("#helpbtn").click(function(){
				for (let i = 0; i < chars.length; i++) {
					for (let j = 0; j < chars.length; j++) {
						for (let k = 0; k < chars.length; k++) {
							let guess = chars[i]+chars[j]+chars[k]
							if (SHA256.hex(prefix+guess) == {{.challenge}}) {
								$("#pow").val(guess);
								return true;
							}
						}
					}
				}
				alert("sorry, counld not find the answer");
				return false
			});
		});
	</script>
</head>

<body >
	<div class="container">
		<h1>
			Golang Interface
		</h1>
		<h5 class="text-muted">&nbsp;&nbsp;— a server that only runs your Go code for 1s (go1.14.3.linux-amd64)</h5>
		<figure class="highlight"><pre><code class="language-go" data-lang="go">
	...

	file, err := parser.ParseFile(token.NewFileSet(), filename, nil, parser.AllErrors)
	if err != nil {
		return nil, errors.New("Syntax error")
	}
	if len(file.Imports) > 0 {
		return nil, errors.New("Imports are not allowed")
	}

	// go build -buildmode=pie and run for 1s...

	...
		</code></pre></figure>
		
		<div class="">
			
			<form enctype="multipart/form-data" action="" method="POST">
				<div class="form-group">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="fileInput" name="file" required>
						<label class="custom-file-label" for="fileInput">Choose file...</label>
						<div class="invalid-feedback">need a Go file to run</div>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">sha256 ( {{.prefix}}</div>
						</div>
						<input type="text" class="form-control" id="pow" name="pow" minlength="3" maxlength="3" required>
						<div class="input-group-append">
							<div class="input-group-text"> ) = {{.challenge}}</div>
						</div>
						&nbsp;
						<button type="button" id="helpbtn" class="btn btn-outline-success">help me!</button>
					</div>
					<small class="form-text text-muted text-center">
						The challenge code will be updated every 30 seconds.
					</small>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			
		</div>

	</div>
</body>

</html>